*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
}

.fejlec{
	min-height: 120vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(kepek/hatter.png);
	background-position: center;
	background-size: cover;
	position: relative;
	background-color: black;
}

body{
	background-color: slategray;
}

a{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

a img{
	width: 150px;
}

.nav-linkek{
	flex: 1;
	text-align: right;
}

.nav-linkek ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-linkek li a{
	color: white;
	text-decoration: none;
	font-size: 13px;
}

.nav-linkek ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #20B2AA;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-linkek ul li:hover::after{
	width: 100%;
}

.szovegdoboz{
	width: 90%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.szovegdoboz h1{
	margin: 10px 0 40px;
	font-size: 16px;
	color: white;
}

.szovegdoboz p{
	margin: 15px 0 45px;
	font-size: 12px;
	color: #E0FFFF;
}
.szovegdoboz h2{
	margin: 15px 0 45px;
	font-size: 13px;
	color: #E0FFFF;
}

.doboz{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 10%;
	margin-top: 70px;
}

.galeria{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 50px;
	margin-top: 50px;
}

.galeria img{
	width: 100%;
}

.galeria2{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 50px;
	margin-top: 50px;
}
.galeria2 img{
	width: 40%;
}

.doboz2{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 10%;
	margin-top: 1000px;
}
